# Gradle specific files
.gradle/
**/build/

# IDEA specific files
!/.idea
/.idea/*
# Needed to track entry points and nullability annotations (see https://youtrack.jetbrains.com/issue/IDEA-354114 and https://youtrack.jetbrains.com/issue/IDEA-354115)
!/.idea/misc.xml
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/icon.png
!/.idea/icon_dark.png
!/.idea/gradle.xml
